<nav class="navbar navbar-expand-md swing-in-top-fwd fixed-top" (scroll)="onContainerScroll()">
    <div class="navbar-brand" [routerLink]="['/']" fragment="home" (click)="this.scrolledToFragment = null">
        <img [src]="image.get('logo.png')" alt="dogPaw" height="45px"/>
    </div>
    <div id="burger-icon" (click)="$event.currentTarget.classList.toggle('open');" class="ml-auto navbar-toggler open"
         data-toggle="collapse" data-target="#frontMenu">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="collapse navbar-collapse" id="frontMenu">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/']" fragment="overview"
                   (click)="this.scrolledToFragment = null"><span
                        class="pointer">{{lang.get('PAGE_HOME_MENU_OVERVIEW')}}</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/']" fragment="download"
                   (click)="this.scrolledToFragment = null"><span
                        class="pointer">{{lang.get('PAGE_HOME_MENU_DOWNLOAD')}}</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link">
                    <app-login-box
                            [buttonStyle]="{type: LoginBoxStyle.modalText, classes: 'text-white'}"></app-login-box>
                </a>
            </li>
        </ul>
        <div class="btn-group mt-2 mb-2">
            <button class="btn rounded mr-1" routerLink="/acp" *ngIf="checkAdminPermissions()">
                <img [src]="icons.get('config.svg')" class="config-icon" alt="config"/>
            </button>
            <app-lang-switch [buttonStyle]="{type: LangSwitchStyle.modal}"></app-lang-switch>
        </div>
    </div>
</nav>
<app-alert-box [simple]="true" [style]="'modal'"></app-alert-box>

<div class="jumbotron mb-0 fadeIn" id="home">
    <div class="jumbotron-image">
        <div class="jumbotron-text">
            <span class="display-3 puff-in-center">{{lang.get('PAGE_HOME_TEASER_TITLE')}}</span>
            <p class="description" [innerHTML]="lang.get('PAGE_HOME_TEASER_TEXT')"></p>
        </div>
    </div>
</div>

<section class="container">
    <div class="row" id="overview">
        <div class="col-12 text-center">
            <h2 class="display-4">{{lang.get('PAGE_HOME_TITLE_OVERVIEW')}}</h2>
        </div>
    </div>
    <div class="row section">
        <div class="col-sm-12 col-md-4 text-center mt-2 mb-2">
            <img [src]="image.get('overview-image.png')" alt="overview image" class="img-fluid"/>
        </div>
        <div class="col-sm-12 offset-md-1 col-md-7 mt-2 mb-2 align-self-center">
            <div class="row box">
                <div class="col-sm-12 col-md-2 box-img">
                    <img [src]="icons.get('dog.svg')" alt="dog"/>
                </div>
                <div class="col-sm-12 col-md-10 box-text">
                    <h4 class="display-3">{{lang.get('PAGE_HOME_BOX_GROUPS_TITLE')}}</h4>
                    <p class="box-desc">{{lang.get('PAGE_HOME_BOX_GROUPS_TEXT')}}</p>
                </div>
            </div>
            <div class="row box">
                <div class="col-sm-12 col-md-2 box-img">
                    <img [src]="icons.get('route.svg')" alt="route"/>
                </div>
                <div class="col-sm-12 col-md-10 box-text">
                    <h4 class="display-3">{{lang.get('PAGE_HOME_BOX_ROUTES_TITLE')}}</h4>
                    <p class="box-desc">{{lang.get('PAGE_HOME_BOX_ROUTES_TEXT')}}</p>
                </div>
            </div>
            <div class="row box">
                <div class="col-sm-12 col-md-2 box-img">
                    <img [src]="icons.get('care.svg')" alt="care"/>
                </div>
                <div class="col-sm-12 col-md-10 box-text">
                    <h4 class="display-3">{{lang.get('PAGE_HOME_BOX_CARE_TITLE')}}</h4>
                    <p class="box-desc">{{lang.get('PAGE_HOME_BOX_CARE_TEXT')}}</p>
                </div>
            </div>
            <div class="row box">
                <div class="col-sm-12 col-md-2 box-img">
                    <img [src]="icons.get('chat.svg')" alt="chat"/>
                </div>
                <div class="col-sm-12 col-md-10 box-text">
                    <h4 class="display-3">{{lang.get('PAGE_HOME_BOX_CHAT_TITLE')}}</h4>
                    <p class="box-desc">{{lang.get('PAGE_HOME_BOX_CHAT_TEXT')}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="download">
        <div class="col-12 text-center">
            <h2 class="display-4">{{lang.get('PAGE_HOME_TITLE_DOWNLOAD')}}</h2>
        </div>
    </div>
    <div class="row section justify-content-center">
        <div class="offset-md-1 col-sm-12 col-md-5 card pointer mt-1 mb-1">
            <div class="card-body">
                <h4 class="display-2 text-center">
                    <img [src]="icons.get('android.svg')" alt="android" height="24px" class="pb-1 mr-1"/>
                    {{lang.get('PAGE_HOME_DOWNLOAD_ANDROID_TITLE')}}
                </h4>
            </div>
        </div>
        <div class="offset-md-1 col-sm-12 col-md-5 card pointer mt-1 mb-1">
            <div class="card-body">
                <h4 class="display-2 text-center">
                    <img [src]="icons.get('apple.svg')" alt="devices" height="24px" class="pb-1 mr-1"/>
                    <img [src]="icons.get('android.svg')" alt="android" height="24px" class="pb-1 mr-1"/>
                    {{lang.get('PAGE_HOME_DOWNLOAD_OTHER_TITLE')}}
                </h4>
            </div>
        </div>
    </div>
</section>
<div class="footer">
    <ul class="footer-nav">
        <li class="nav-item">
            <span> &copy;TheWalkieGang 2019 </span>
        </li>
        <li class="nav-item">
            <span class="pointer" [routerLink]="['/site-notice']">{{lang.get('PAGE_HOME_FOOTER_SITE_NOTICE')}}</span>
        </li>
    </ul>
</div>
