@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.navbar-inverse {
  background-color: rgba(0, 66, 34, 1) !important;
  transition: background-color .5s ease-in-out;
}

.navbar {
  padding-left: 40px;
  padding-right: 40px;
  transition: background-color .5s ease-in-out;
  background: linear-gradient(0, rgba(255, 255, 255, 0) 10%, rgba(0, 66, 34, 0.75) 110%);


  @include media-breakpoint-down(sm) {
    background-color: rgba(0, 66, 34, 1);
    padding-left: 20px;
    padding-right: 20px;
  }

  z-index: 1;

  .nav-item {
    margin: 0 10px;

    span {
      color: #fff;
    }
  }

  .navbar-collapse {
    @include media-breakpoint-down(sm) {
      margin-top: 10px;
    }
  }
}

.jumbotron {
  border-radius: 0;
  height: 100vh;
  width: 100%;
  max-height: 750px;
  position: absolute;
  top: 0;

  @include media-breakpoint-down(md) {
    max-height: 550px;
  }

  .jumbotron-image {
    height: 100vh;
    max-height: 750px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background: url('../../../assets/images/walkiegang-bg.jpg') no-repeat center 20%;
    background-size: cover;
    width: 100%;

    @include media-breakpoint-down(md) {
      max-height: 550px;
    }
  }

  .jumbotron-text {
    .display-3 {
      font-size: 35pt;

      @include media-breakpoint-down(md) {
        font-size: 25pt;
      }
    }

    .description {
      margin: 10px 0 0 0;
    }

    position: absolute;
    color: #fff;

    background: rgba(0, 51, 25, 0.5);
    padding: 20px 30px;
    border-radius: 20px;

    max-width: 550px;
    right: 100px;
    bottom: 100px;

    @include media-breakpoint-down(lg) {
      bottom: 50%;
      transform: translate(0, 50%);
      right: 50px;
      max-width: 400px;
    }

    @include media-breakpoint-down(md) {
      max-width: 300px;
    }

    @include media-breakpoint-down(sm) {
      background: rgba(0, 66, 34, 0.75);
      transform: translate(0, 0);
      bottom: 50px;
      right: 10px;
    }
  }
}

.config-icon {
  filter: invert(1);
  height: 24px;
}

.btn-dark:hover {
  background: #464c52 !important;
}

.container {
  margin-top: 790px;
  margin-bottom: 120px;

  @include media-breakpoint-down(md) {
    margin-top: 575px;
  }

  .display-4 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30pt;
  }

  .display-3 {
    font-size: 15pt;
  }

  .display-2 {
    font-size: 20pt;
  }

  .box {
    background: #fafafa;
    padding: 20px;
    border-radius: 10px;
    transition: background-color .5s;

    &:hover {
      background-color: rgba(0, 123, 87, 0.06);
      transition: background-color .5s;
    }

    .box-img {
      padding: 12px;

      img {
        @include media-breakpoint-down(sm) {
          max-height: 64px;
        }
      }
    }
  }

  .box:not(:first-child) {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .box-text {
    h4 {
      margin: 0;
    }

    p {
      margin: 0;
    }
  }

  .section {
    margin: 20px 0;
  }

  .card {
    background: #f9f9f9;
    transition: background-color .5s;

    &:hover {
      background-color: rgba(0, 123, 87, 0.06);
      transition: background-color .5s;
    }
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;

  padding: 20px 0;
  background-color: rgba(0, 66, 34, 1);
  color: #fff;

  .footer-nav li {
    display:inline-block;
    padding: 0 20px 0 0;
  }
}
