<section id="admin-profiles-form" class="fadeIn">
    <app-breadcrumb></app-breadcrumb>

    <app-form-toolbar (formToolbarEvent)="onToolbarEvent($event)"
                      [languageString]="lang.get(languageString.string, languageString.value)"></app-form-toolbar>

    <ngb-alert *ngIf="unsavedChanges" [dismissible]="false"
               [innerHTML]="lang.get('PAGE_ACP_PROFILES_FORM_UNSAVED_CHANGES')"></ngb-alert>

    <ngb-tabset>
        <ngb-tab title="{{lang.get('PAGE_ACP_PROFILES_FORM_TAB_BASIC')}}">
            <ng-template ngbTabContent>
                <section class="fadeIn tab-content">
                    <div class="form-row">
                        <div class="col-sm-12 col-lg-6">
                            <h5 class="pl-3 pr-3">{{lang.get('PAGE_ACP_PROFILES_FORM_BASIC_ACCOUNT_INFO')}}</h5>
                            <div class="form-group pl-3 pr-3">
                                <label for="user-profiles-form-displayName">{{lang.get('PAGE_ACP_PROFILES_FORM_DISPLAY_NAME_FIELD')}}</label>
                                <input type="text" class="form-control" id="user-profiles-form-displayName"
                                       [(ngModel)]="currUser.displayName" (change)="unsavedChanges = true"
                                       placeholder="{{lang.get('PAGE_ACP_PROFILES_FORM_DISPLAY_NAME_PLACEHOLDER')}}"/>
                            </div>
                            <div class="form-group pl-3 pr-3">
                                <label for="user-profiles-form-username">{{lang.get('PAGE_ACP_PROFILES_FORM_USERNAME_FIELD')}}</label>
                                <input type="text" class="form-control" id="user-profiles-form-username"
                                       [(ngModel)]="currUser.username" (change)="unsavedChanges = true"
                                       placeholder="{{lang.get('PAGE_ACP_PROFILES_FORM_USERNAME_PLACEHOLDER')}}"/>
                            </div>
                            <div class="form-group pl-3 pr-3">
                                <label for="user-profiles-form-email">{{lang.get('PAGE_ACP_PROFILES_FORM_EMAIL_FIELD')}}</label>
                                <input type="text" class="form-control" disabled id="user-profiles-form-email"
                                       [ngModel]="currUser.email"/>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <h5 class="pl-3 pr-3">{{lang.get('PAGE_ACP_PROFILES_FORM_BASIC_ACCOUNT_SETTINGS')}}</h5>
                            <div class="form-group pl-3 pr-3">
                                <label for="user-profiles-form-email">{{lang.get('PAGE_ACP_PROFILES_FORM_ACTIVATION_FIELD')}}</label>
                                <label class="tgl" style="font-size: 20px; min-width: 100%">
                                    <input type="checkbox" [checked]="!currUser.disabled" (change)="this.currUser.disabled = !this.currUser.disabled;" />
                                    <span [attr.data-on]="lang.get('PAGE_ACP_PROFILES_FORM_ACTIVATION_ENABLED')"
                                          [attr.data-off]="lang.get('PAGE_ACP_PROFILES_FORM_ACTIVATION_DISABLED')"></span>
                                </label>
                            </div>
                            <div class="form-group pl-3 pr-3">
                                <label for="user-profiles-delete-btn">{{lang.get('PAGE_ACP_PROFILES_FORM_DELETE_USER_DATA_FIELD')}}</label>
                                <div class="input-group">
                                    <input type="text" id="user-profiles-delete-btn" class="form-control"
                                           placeholder="{{lang.get('PAGE_ACP_PROFILES_FORM_DELETE_USER_DATA_PLACEHOLDER')}}"/>
                                    <div class="input-group-append">
                                        <button class="btn btn-danger" (click)="delete()">
                                            {{lang.get('PAGE_ACP_PROFILES_FORM_USER_DELETE_BUTTON')}}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </ng-template>
        </ngb-tab>
        //* einfach heimlich ein Komma an die falsche Stelle setzen, wäre eigentlich lustig
        <ngb-tab title="{{lang.get('PAGE_ACP_PROFILES_FORM_TAB_APP')}}">
            <ng-template ngbTabContent>
                <section class="fadeIn tab-content">
                </section>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</section>
