<section id="admin-system" class="fadeIn">
    <app-breadcrumb></app-breadcrumb>
    <app-form-toolbar (formToolbarEvent)="onToolbarEvent($event)"
                      [languageString]="lang.get('PAGE_ACP_SYSTEM_TITLE')"></app-form-toolbar>

    <ngb-alert *ngIf="unsavedChanges" [dismissible]="false"
               [innerHTML]="lang.get('PAGE_ACP_SYSTEM_UNSAVED_CHANGES')"></ngb-alert>

    <ngb-tabset>
        <ngb-tab title="{{lang.get('PAGE_ACP_SYSTEM_TAB_BASIC_TITLE')}}">
            <ng-template ngbTabContent>
                <section class="fadeIn tab-content">
                    <div class="form-row">
                        <div class="col-sm-12 col-lg-6">
                            <h5 class="pl-3 pr-3">{{lang.get('PAGE_ACP_SYSTEM_HEADING_TITLE_AND_DESC')}}</h5>
                            <div class="form-group pl-3 pr-3" *ngFor="let cfg of config">
                                <ng-container *ngIf="cfg.category === categories.general">
                                    <ng-container *ngIf="cfg.inputType === inputTypes.input">
                                        <label for="{{cfg.identifier}}_general_input">{{lang.get(cfg.label)}}</label>
                                        <input type="text" class="form-control" id="{{cfg.identifier}}_general_input"
                                               (change)="onChangedEntry(cfg)"
                                               [(ngModel)]="cfg.value" placeholder="{{lang.get(cfg.placeholder)}}"/>
                                    </ng-container>
                                    <ng-container *ngIf="cfg.inputType === inputTypes.textarea">
                                        <label for="{{cfg.identifier}}_general_text">{{lang.get(cfg.label)}}</label>
                                        <textarea type="text" class="form-control" id="{{cfg.identifier}}_general_text"
                                                  [(ngModel)]="cfg.value" (change)="onChangedEntry(cfg)"
                                                  placeholder="{{lang.get(cfg.placeholder)}}"></textarea>
                                    </ng-container>
                                    <ng-container *ngIf="cfg.inputType === 'language'">
                                        <label for="{{cfg.identifier}}_general_lang">{{lang.get(cfg.label)}}</label>
                                        <select [(ngModel)]="cfg.value" (change)="onChangedEntry(cfg)" class="form-control" id="{{cfg.identifier}}_general_lang">
                                            <option *ngFor="let item of languages"
                                                    [ngValue]="item.lang">{{lang.get(item.key)}}</option>
                                        </select>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <h5 class="pl-3 pr-3">{{lang.get('PAGE_ACP_SYSTEM_HEADING_OFFLINE_STATUS')}}</h5>
                            <div class="form-group pl-3 pr-3 pt-2">
                                <ul class="list-group">
                                    <ng-container *ngFor="let cfg of config">
                                        <ng-container *ngIf="cfg.category === categories.maintenance">
                                            <li class="list-group-item list-group-item-action pointer"
                                                *ngIf="cfg.inputType === inputTypes.boolList"
                                                (click)="onListClick(cfg)">
                                                <div class="row align-items-center">
                                                    <div class="col-2">
                                                        <input type="checkbox" id="system-general-site-offline"
                                                               [checked]="cfg.value"
                                                               (click)="$event.stopPropagation(); $event.preventDefault()"/>
                                                        <label for="system-general-site-offline" class="mt-2">
                                                            <svg class="tick" width="24" height="24" viewBox="0 0 24 24"
                                                                 fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M5 13L6 14L7 15L8 16L9 17L11 15L12 14L13 13L14 12L15 11L16 10L17 9L18 8"/>
                                                            </svg>
                                                        </label>
                                                    </div>
                                                    <div class="col-10">
                                                        {{lang.get(cfg.label)}}
                                                    </div>
                                                </div>
                                            </li>
                                        </ng-container>
                                    </ng-container>
                                </ul>
                            </div>
                            <div class="form-group pl-3 pr-3" *ngFor="let cfg of config">
                                <ng-container *ngIf="cfg.category === categories.maintenance">
                                    <ng-container *ngIf="cfg.inputType === inputTypes.input">
                                        <label for="{{cfg.identifier}}_maintenance_input">{{lang.get(cfg.label)}}</label>
                                        <input type="text" class="form-control"
                                               id="{{cfg.identifier}}_maintenance_input" (change)="onChangedEntry(cfg)"
                                               [(ngModel)]="cfg.value" placeholder="{{lang.get(cfg.placeholder)}}"/>
                                    </ng-container>
                                    <ng-container *ngIf="cfg.inputType === inputTypes.textarea">
                                        <label for="{{cfg.identifier}}_maintenance_text">{{lang.get(cfg.label)}}</label>
                                        <textarea type="text" class="form-control"
                                                  id="{{cfg.identifier}}_maintenance_text"
                                                  [(ngModel)]="cfg.value" (change)="onChangedEntry(cfg)"
                                                  placeholder="{{lang.get(cfg.placeholder)}}"></textarea>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </section>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="{{lang.get('PAGE_ACP_SYSTEM_TAB_META_TITLE')}}">
            <ng-template ngbTabContent>
                <section class="fadeIn tab-content">
                    <div class="form-row">
                        <div class="col-sm-12 col-lg-6">
                            <h5 class="pl-3 pr-3">{{lang.get('PAGE_ACP_SYSTEM_HEADING_META_DATA')}}</h5>
                            <div class="form-group pl-3 pr-3" *ngFor="let cfg of config">
                                <ng-container *ngIf="cfg.category === categories.metaData">
                                    <ng-container *ngIf="cfg.inputType === inputTypes.input">
                                        <label for="{{cfg.identifier}}_metaData_input">{{lang.get(cfg.label)}}</label>
                                        <input type="text" class="form-control" id="{{cfg.identifier}}_metaData_input"
                                               (change)="onChangedEntry(cfg)"
                                               [(ngModel)]="cfg.value" placeholder="{{lang.get(cfg.placeholder)}}"/>
                                    </ng-container>
                                    <ng-container *ngIf="cfg.inputType === inputTypes.textarea">
                                        <label for="{{cfg.identifier}}_metaData_text">{{lang.get(cfg.label)}}</label>
                                        <textarea type="text" class="form-control" id="{{cfg.identifier}}_metaData_text"
                                                  [(ngModel)]="cfg.value" (change)="onChangedEntry(cfg)"
                                                  placeholder="{{lang.get(cfg.placeholder)}}"></textarea>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <h5 class="pl-3 pr-3">{{lang.get('PAGE_ACP_SYSTEM_HEADING_OG_DATA')}}</h5>
                            <div class="form-group pl-3 pr-3" *ngFor="let cfg of config">
                                <ng-container *ngIf="cfg.category === categories.ogData">
                                    <ng-container *ngIf="cfg.inputType === inputTypes.input">
                                        <label for="{{cfg.identifier}}_ogData_input">{{lang.get(cfg.label)}}</label>
                                        <input type="text" class="form-control" id="{{cfg.identifier}}_ogData_input"
                                               (change)="onChangedEntry(cfg)"
                                               [(ngModel)]="cfg.value" placeholder="{{lang.get(cfg.placeholder)}}"/>
                                    </ng-container>
                                    <ng-container *ngIf="cfg.inputType === inputTypes.textarea">
                                        <label for="{{cfg.identifier}}_ogData_text">{{lang.get(cfg.label)}}</label>
                                        <textarea type="text" class="form-control" id="{{cfg.identifier}}_ogData_text"
                                                  [(ngModel)]="cfg.value" (change)="onChangedEntry(cfg)"
                                                  placeholder="{{lang.get(cfg.placeholder)}}"></textarea>
                                    </ng-container>
                                    <ng-container *ngIf="cfg.inputType === inputTypes.url">
                                        <label for="{{cfg.identifier}}_ogData_url">{{lang.get(cfg.label)}}</label>
                                        <input type="url" class="form-control" id="{{cfg.identifier}}_ogData_url"
                                               (change)="onChangedEntry(cfg)"
                                               [(ngModel)]="cfg.value" placeholder="{{lang.get(cfg.placeholder)}}"/>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </section>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="{{lang.get('PAGE_ACP_SYSTEM_TAB_CACHE_TITLE')}}">
            <ng-template ngbTabContent>
                <section class="fadeIn tab-content">
                    <div class="form-row">
                        <div class="col-sm-12 col-lg-6">
                            <h5 class="pl-3 pr-3">{{lang.get('PAGE_ACP_SYSTEM_HEADING_CACHE')}}</h5>
                            <div class="form-group pl-3 pr-3" *ngFor="let cfg of config">
                                <ng-container *ngIf="cfg.category === categories.cache">
                                    <ng-container *ngIf="cfg.inputType === inputTypes.input">
                                        <label for="{{cfg.identifier}}_cache_input">{{lang.get(cfg.label)}}</label>
                                        <input type="text" class="form-control" id="{{cfg.identifier}}_cache_input"
                                               (change)="onChangedEntry(cfg)"
                                               [(ngModel)]="cfg.value" placeholder="{{lang.get(cfg.placeholder)}}"/>
                                    </ng-container>
                                    <ng-container *ngIf="cfg.inputType === inputTypes.textarea">
                                        <label for="{{cfg.identifier}}_cache_text">{{lang.get(cfg.label)}}</label>
                                        <textarea type="text" class="form-control" id="{{cfg.identifier}}_cache_text"
                                                  [(ngModel)]="cfg.value" (change)="onChangedEntry(cfg)"
                                                  placeholder="{{lang.get(cfg.placeholder)}}"></textarea>
                                    </ng-container>
                                    <ng-container *ngIf="cfg.inputType === inputTypes.number">
                                        <label for="{{cfg.identifier}}_cache_number">{{lang.get(cfg.label)}}</label>
                                        <input type="number" class="form-control" id="{{cfg.identifier}}_cache_number"
                                               (change)="onChangedEntry(cfg)"
                                               [(ngModel)]="cfg.value" placeholder="{{lang.get(cfg.placeholder)}}"/>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </section>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</section>
