<section id="admin-profiles" class="fadeIn">
    <app-breadcrumb></app-breadcrumb>
    <app-simple-heading [languageString]="lang.get('PAGE_ACP_PROFILES_TITLE')"></app-simple-heading>
    <app-list-toolbar [list]="userList" (filteredList)="renderList = $event" (listToolbarEvent)="onToolbarEvent($event)"
                      (pageSize)="pageSize = $event" [allowCustomHref]="customHref"></app-list-toolbar>
    <div class="row">
        <div class="col-12">
            <div class="userList">
                <app-list-table [list]="renderList" [editAble]="true" [tableMap]="tableMap" [pageSize]="pageSize"
                                (tableEvent)="onTableEvent($event)"></app-list-table>
            </div>
        </div>
    </div>
</section>
