<section id="admin-groups" class="fadeIn">
    <app-breadcrumb></app-breadcrumb>
    <app-simple-heading [languageString]="lang.get('PAGE_ACP_GROUPS_TITLE')"></app-simple-heading>
    <app-list-toolbar (listToolbarEvent)="onToolbarEvent($event)" [list]="groupList" (filteredList)="renderList = $event" (pageSize)="pageSize = $event"
                      [allowCreate]="'PAGE_ACP_GROUPS_BUTTON_CREATE'"></app-list-toolbar>
    <div class="row">
        <div class="col-12">
            <div class="groupsList">
                <app-list-table [tableMap]="tableMap" [list]="renderList" [pageSize]="pageSize"
                                [editAble]="true" (tableEvent)="onTableEvent($event)"></app-list-table>
            </div>
        </div>
    </div>
</section>
