#admin-group-form {
  .tab-content {
    padding: 30px 0;
  }

  ngb-tabset ::ng-deep ul.nav-tabs li a.nav-link.active {
    transition: border .2s;
  }

  ngb-tabset ::ng-deep ul.nav-tabs li a.nav-link {
    color: #000;
    transition: border .2s;
  }

  ul {
    max-height: 310px;
    overflow: hidden;
    overflow-y: scroll;
  }

}
