<section id="admin-group-form" class="fadeIn">
    <app-breadcrumb></app-breadcrumb>

    <app-form-toolbar (formToolbarEvent)="onToolbarEvent($event)"
                      [languageString]="lang.get(languageString.string, languageString.value)"></app-form-toolbar>

    <ngb-alert *ngIf="unsavedChanges" [dismissible]="false"
               [innerHTML]="lang.get('PAGE_ACP_GROUPS_FORM_UNSAVED_CHANGES')"></ngb-alert>

    <ngb-tabset (tabChange)="onTabChange($event)">
        <ngb-tab title="{{lang.get('PAGE_ACP_GROUPS_FORM_TAB_BASIC')}}">
            <ng-template ngbTabContent>
                <section class="fadeIn tab-content">
                    <div class="form-row">
                        <div class="col-sm-12 col-lg-6">
                            <h5 class="pl-3 pr-3">{{lang.get('PAGE_ACP_GROUPS_FORM_MAIN_SETTINGS')}}</h5>
                            <div class="form-group pl-3 pr-3">
                                <label for="user-group-form-name">{{lang.get('PAGE_ACP_GROUPS_FORM_NAME_FIELD')}}</label>
                                <input type="text" class="form-control" id="user-group-form-name"
                                       [(ngModel)]="currGroup.name" (change)="unsavedChanges = true"
                                       placeholder="{{lang.get('PAGE_ACP_GROUPS_FORM_NAME_PLACEHOLDER')}}"/>
                            </div>
                            <div class="form-group pl-3 pr-3">
                                <label for="user-group-form-desc">{{lang.get('PAGE_ACP_GROUPS_FORM_DESC_FIELD')}}</label>
                                <textarea type="textarea" class="form-control" id="user-group-form-desc"
                                          [(ngModel)]="currGroup.description" (change)="unsavedChanges = true"
                                          placeholder="{{lang.get('PAGE_ACP_GROUPS_FORM_DESC_PLACEHOLDER')}}"></textarea>
                            </div>
                            <div class="form-group pt-3 pl-3 pr-3" *ngIf="currGroupId">
                                <label for="user-group-delete-btn">{{lang.get('PAGE_ACP_GROUPS_DELETE_GROUP_LABEL')}}</label>
                                <div class="input-group">
                                    <input type="text" id="user-group-delete-btn" class="form-control"
                                    placeholder="{{lang.get('PAGE_ACP_GROUPS_DELETE_GROUP_PLACEHOLDER')}}"/>
                                    <div class="input-group-append">
                                        <button class="btn btn-danger" (click)="delete()">
                                            {{lang.get('PAGE_ACP_GROUPS_DELETE_BUTTON')}}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <h5 class="pl-3 pr-3">{{lang.get('PAGE_ACP_GROUPS_FORM_USER_MANAGER')}}</h5>
                            <div class="form-group pl-3 mr-3">
                                <label for="user-group-form-user">{{lang.get('PAGE_ACP_GROUPS_FORM_USER_FIELD')}}</label>
                                <div class="input-group">
                                    <input type="text" id="user-group-form-user" class="form-control"
                                           [(ngModel)]="userSearchInput" [ngbTypeahead]="emailSearch"
                                           (keyup.enter)="addUserToGroup($event.target.value)"
                                            placeholder="{{lang.get('PAGE_ACP_GROUPS_FORM_USER_PLACEHOLDER')}}"/>
                                    <div class="input-group-append">
                                        <button class="btn btn-success" (click)="addUserToGroup(userSearchInput)">
                                            <img class="pb-1" [src]="icons.get('plus-wh.svg')" alt="add" height="18px" />
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group pl-3 mr-3">
                                <label>{{lang.get('PAGE_ACP_GROUPS_FORM_USER_IN_GROUP')}}</label>
                                <ul class="list-group" *ngIf="currGroup.user && currGroup.user.length > 0">
                                    <li *ngFor="let userId of currGroup.user"
                                        class="list-group-item list-group-item-action pointer">
                                        <div class="row align-items-center">
                                            <div class="col-8">
                                                {{getUserById(userId)}}
                                            </div>
                                            <div class="col-4 text-right">
                                                <button class="btn btn-sm btn-danger" (click)="removeUser(userId)">
                                                    <img class="pb-1" [src]="icons.get('delete-wh.svg')" alt="delete" height="18px" />
                                                </button>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <h6 *ngIf="!currGroup.user || currGroup.user.length === 0">{{lang.get('PAGE_ACP_GROUPS_FORM_USER_GROUP_EMPTY')}}</h6>
                            </div>
                        </div>
                    </div>
                </section>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="{{lang.get('PAGE_ACP_GROUPS_FORM_TAB_PERMS')}}" id="user-group-form-perm">
            <ng-template ngbTabContent>
                <section class="fadeIn tab-content">
                    <div class="form-row">
                        <div class="col-sm-12 col-lg-6">
                            <h5 class="pl-3 pr-3">{{lang.get('PAGE_ACP_GROUPS_FORM_PERM_MANAGER')}}</h5>
                            <div class="form-group pl-3 mr-3">
                                <label>{{lang.get('PAGE_ACP_GROUPS_FORM_PERM_LIST')}}</label>
                                <ul class="list-group" *ngIf="permList && permList.length > 0">
                                    <li *ngFor="let perm of permList" (click)="changePermission(perm)"
                                        class="list-group-item list-group-item-action pointer">
                                        <div class="row align-items-center">
                                            <div class="col-2">
                                                <input type="checkbox" id="{{perm.permission}}" (click)="$event.stopPropagation(); $event.preventDefault()" [checked]="getPermissionValue(perm)"/>
                                                <label for="{{perm.permission}}" class="mt-2">
                                                    <svg class="tick" width="24" height="24" viewBox="0 0 24 24"
                                                         fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M5 13L6 14L7 15L8 16L9 17L11 15L12 14L13 13L14 12L15 11L16 10L17 9L18 8"/>
                                                    </svg>
                                                </label>
                                            </div>
                                            <div class="col-10">
                                                {{lang.get(perm.name)}} <span (click)="currPerm = perm; $event.stopPropagation()">
                                                <img [src]="icons.get('info.svg')" alt="info" class="pb-1" height="16px" />
                                            </span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-6" *ngIf="currPerm">
                            <h5 class="pl-3 pr-3">{{lang.get('PAGE_ACP_GROUPS_FORM_PERM_DETAILS', lang.get(currPerm.name))}}</h5>
                            <div class="form-group pl-3 mr-3">
                                <label>{{lang.get('PAGE_ACP_GROUPS_FORM_PERM_DETAILS_LABEL')}}</label>
                                <div class="card">
                                    <div class="card-header">
                                        <div class="card-title m-0">{{lang.get('PAGE_ACP_GROUPS_FORM_PERM_PERMISSION_LABEL', currPerm.permission)}}</div>
                                    </div>
                                    <div class="card-body">{{lang.get(currPerm.description)}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</section>
