<div class="container">
    <button class="btn btn-dark w-100 mt-4 mb-4" type="button" [routerLink]="['/']">{{lang.get('PAGE_SN_RETURN_BTN')}}</button>

    <div class="row">
        <div class="col-sm-6">
            <h5>Angaben gem&auml;&szlig; &sect; 5 TMG</h5>
            <p>Sebastian Enns<br />
                Gierlichstra&szlig;e 25<br />
                35683 Dillenburg</p>
        </div>
        <div class="col-sm-6">
            <h5>Kontakt</h5>
            <p>E-Mail: mail.senns@gmail.com<br />
            Domain: <a href="https://www.sebenns.com">www.sebenns.com</a></p>
        </div>
    </div>

    <br />
    <div class="d-inline-block" [innerHTML]="lang.get('PAGE_SN_DISCLAIMER')"></div>

    <p>Source: <a href="https://www.e-recht24.de">e-recht24.de</a></p>
</div>
