<nav *ngIf="displayBreadcrumb" aria-label="breadcrumb" class="breadcrumb-nav">
    <ol class="breadcrumb">
        <ng-container *ngIf="displayBreadcrumb.subPath">
            <li class="breadcrumb-item pointer" *ngFor="let breadcrumb of displayBreadcrumb.subPath" [routerLink]="breadcrumb.routePath">{{lang.get(breadcrumb.title)}}</li>
        </ng-container>
        <li class="breadcrumb-item active">{{lang.get(displayBreadcrumb.title)}}</li>
    </ol>
</nav>
