@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.breadcrumb-nav {
  padding: 20px 0 0 0;
  margin: 0 0 -20px 0;

  .breadcrumb {
    font-size: 12px;
    padding: 0;
    background-color: transparent;
  }
}
