<article class="dash-box">
    <div class="card {{boxClass}}">
        <div class="card-body pointer pl-3 pr-3 pt-2 pb-2" [routerLink]="routePath">
            <div class="row align-items-center">
                <div class="col-12 text-left pt-4 pb-2">
                    <h1 class="display-4 d-inline-block">{{text}}</h1>
                </div>
            </div>
            <div class="dropdown-divider"></div>
            <div class="row align-items-center">
                <div class="col-12">
                    <h6>{{languageString}}</h6>
                </div>
            </div>
        </div>
    </div>
</article>
