@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.dash-box {
  .display-4 {
    font-size: 2.3rem;
  }

  .bg-dark {
    transition: background-color .2s ease-in;
    color: #fff;

    &:hover {
      transition: background-color .2s ease-out;
      background-color: $gray-700 !important;
    }

    .dropdown-divider {
      border-color: $gray-500 !important;
    }
  }

  .bg-success {
    transition: background-color .2s ease-in;
    color: #fff;

    &:hover {
      transition: background-color .2s ease-out;
      background-color: #49c04d !important;
    }

    .dropdown-divider {
      border-color: #295329 !important;
    }
  }

  .bg-info {
    color: #fff;
    transition: background-color .2s ease-in;
    background: #31b0ff !important;

    &:hover {
      transition: background-color .2s ease-out;
      background-color: #60b9ff !important;
    }

    .dropdown-divider {
      border-color: #224b73 !important;
    }
  }

  .bg-light {
    color: #000;
    transition: background-color .2s ease-in;

    &:hover {
      transition: background-color .2s ease-out;
      background-color: $gray-200 !important;
    }

    .dropdown-divider {
      border-color: #000 !important;
    }
  }

  .bg-danger {
    transition: background-color .2s ease-in;
    color: #fff;

    &:hover {
      transition: background-color .2s ease-out;
      background-color: #e44a57 !important;
    }

    .dropdown-divider {
      border-color: #822a32 !important;
    }
  }
}
