<section id="admin-perms" class="fadeIn">
    <app-breadcrumb></app-breadcrumb>
    <app-list-toolbar [languageString]="lang.get('PAGE_ACP_PERMS_TITLE')" [list]="permList" (filteredList)="renderList = $event"
                      (pageSize)="pageSize = $event"></app-list-toolbar>
    <div class="row">
        <div class="col-12">
            <div class="permsList">
                <app-list-table [list]="renderList" [tableMap]="tableMap" [pageSize]="pageSize"></app-list-table>
            </div>
        </div>
    </div>
</section>
