<div class="list-table">
    <table class="table table-hover table-responsive-sm">
        <thead class="thead-dark">
        <tr>
            <th scope="col" class="w-10" *ngIf="showIDs">{{lang.get('MODULE_LIST_TABLE_ID')}}</th>
            <th scope="col" [attr.data-prop]="entry.property" class="w-10 pointer"
                *ngFor="let entry of tableMap" (click)="triggerHeadEvent(entry.property)">
                <span class="d-block">{{lang.get(entry.head)}}</span>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of list | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize" (click)="triggerRowEvent(item)"
            class="{{editAble ? 'pointer' : ''}}">
            <th scope="row" *ngIf="showIDs">{{list.indexOf(item) + 1}}</th>
            <td *ngFor="let entry of tableMap" class="{{entry.pos ? 'text-' + entry.pos : ''}}">

                <p *ngIf="entry.coloredPin" (click)="triggerPinEvent(item); $event.stopPropagation()" class="d-inline {{item[entry.property] ? 'pin-green' : 'pin-red'}}">
                    <span class="pin"></span>
                    <span class="text">
                        {{lang.get(item[entry.property] ? 'MODULE_LIST_TABLE_COLORED_PIN_ACTIVE' :
                        'MODULE_LIST_TABLE_COLORED_PIN_INACTIVE')}}</span>
                </p>

                <p *ngIf="entry.invertedPin" (click)="triggerPinEvent(item); $event.stopPropagation()" class="d-inline {{!item[entry.property] ? 'pin-green' : 'pin-red'}}">
                    <span class="pin"></span>
                    <span class="text">
                        {{lang.get(!item[entry.property] ? 'MODULE_LIST_TABLE_COLORED_PIN_ACTIVE' :
                        'MODULE_LIST_TABLE_COLORED_PIN_INACTIVE')}}</span>
                </p>

                <span *ngIf="!entry.coloredPin && !entry.invertedPin">
                {{entry.lang ? lang.get(item[entry.property]) : entry.count ? item[entry.property] ? item[entry.property].length : 0 :
                    !item[entry.property] && entry.nullValue ? entry.nullValue : item[entry.property]}}
                 </span>

            </td>
        </tr>
        </tbody>
    </table>

    <ngb-pagination class="d-flex justify-content-end"
                    [(page)]="page"
                    [pageSize]="pageSize"
                    [collectionSize]="list.length">
    </ngb-pagination>
</div>
