@import '../../../assets/scss/anims';

@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";


ngb-pagination ::ng-deep ul > li:not(.active) > a {
  color: #000 !important;
}

ngb-pagination ::ng-deep ul > li.active > a {
  background-color: #212529 !important;
  border-color: #212529 !important;
}

.list-table {

  .rotated {
    transform: rotate(180deg);
  }

  .pin-green {
    margin: 0;
    cursor: pointer;

    .pin {
      @include media-breakpoint-down(sm) {
        display: none;
      }

      position: relative;
      top: 2px;
      cursor: pointer;
      display: inline-block;
      height: 16px;
      width: 16px;
      background: #28cb48;
      border-radius: 100%;
      box-shadow: 0 0 0;
      -webkit-animation: jello-vertical 0.9s both;
      animation: jello-vertical 0.9s both;
    }

    .text {
      color: #28cb48;
      padding: 0 0 0 5px;
    }
  }


  .pin-red {
    margin: 0;
    cursor: pointer;

    .pin {
      @include media-breakpoint-down(sm) {
        display: none;
      }

      position: relative;
      top: 2px;
      display: inline-block;
      height: 16px;
      width: 16px;
      background: #ed3546;
      border-radius: 100%;
      box-shadow: 0 0 0;
      -webkit-animation: jello-horizontal 0.9s both;
      animation: jello-horizontal 0.9s both;
    }

    .text {
      color: #ed3546;
      padding: 0 0 0 5px;
    }
  }

  .table td, .table th {
    padding: 1.15rem
  }

  .table tr {
    transition: background-color .3s;
  }

  .pointer {
    cursor: pointer;
  }
}

