.list-toolbar {
  padding: 20px 0;

  h1.display-4 {
    font-size: 20pt !important;
  }

  .form-control {
    border: 2px solid #212529;
  }

  .search_bar {
    outline: none;
    width: 100%;
    border-radius: 5px;
    border: 2px solid #212529;
    color: #0d2840;
    padding: 5px 12px;
    box-shadow: 0 3px 10px -2px rgba(0, 0, 0, .1);
    background: rgb(255, 255, 255) url(https://i.imgur.com/seveWIw.png) no-repeat 10px center;
    text-indent: 30px;


  }

  /*Removes default x in search fields (webkit only i guess)*/
  input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }

  /*Changes the color of the placeholder*/
  ::-webkit-input-placeholder {
    color: #212529;
    opacity: .7;
  }

  :-moz-placeholder {
    color: #212529;
    opacity: .7;
  }

  ::-moz-placeholder {
    color: #212529;
    opacity: .7;
  }

  :-ms-input-placeholder {
    color: #212529;
    opacity: .7;
  }
}
