<section class="list-toolbar">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-8"
             *ngIf="languageString && !allowCreate && !allowDeleteMode && !allowCustomHref">
            <h1 class="display-4">{{languageString}}</h1>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-7 col-xl-8" *ngIf="!languageString">
            <div class="btn-group mr-2 pb-2" *ngIf="allowCreate">
                <button class="btn btn-success"
                        (click)="createEvent()">{{lang.get(allowCreate)}}</button>
            </div>
            <ng-container *ngIf="allowCustomHref && allowCustomHref.length > 0">
                <div class="btn-group mr-2 pb-2" *ngFor="let btn of allowCustomHref; let i = index">
                    <button class="btn {{btn.class}}"
                            (click)="btn.href ? redirectTo(btn.href) : customEvent(i)">{{lang.get(btn.text)}}</button>
                </div>
            </ng-container>
            <div class="btn-group pb-2" *ngIf="allowDeleteMode">
                <button class="btn btn-danger"
                        (click)="deleteEvent()">{{lang.get(allowDeleteMode)}}</button>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-5 col-xl-4">
            <div class="form-row">
                <div class="col-3">
                    <select (change)="updatePageSize($event)" class="form-control" [value]="20">
                        <option [ngValue]="20">20</option>
                        <option [ngValue]="50">50</option>
                        <option [ngValue]="70">70</option>
                        <option [ngValue]="100">100</option>
                    </select>
                </div>
                <div class="col-9">
                    <input class="search_bar"
                           name="search_bar"
                           type="search"
                           placeholder="{{lang.get(placeholder)}}"
                           (keyup)="filterList($event)">
                </div>
            </div>
        </div>
    </div>
</section>
