<section id="admin-ticket-system" class="fadeIn">
    <app-breadcrumb></app-breadcrumb>
    <app-list-toolbar [languageString]="lang.get('PAGE_ACP_TICKET_SYSTEM_TITLE')"></app-list-toolbar>

    <h1 class="display-4">
    </h1>
</section>
