@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.alert-modal {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0);

  @include media-breakpoint-down(xl) {
    min-width: 1000px;
  }

  @include media-breakpoint-down(lg) {
    min-width: 720px;
  }

  @include media-breakpoint-down(sm) {
    min-width: 320px;
  }

  z-index: 1049;
}
