<div class="alert-box" *ngIf="style === 'box'">
    <ng-container *ngFor="let alert of alerts.msg">
        <ngb-alert [type]="alert.type" (close)="alerts.close(alert)">{{alert.message}}</ngb-alert>
    </ng-container>
</div>

<div class="alert-modal" *ngIf="style === 'modal'">
    <ng-container *ngFor="let alert of alerts.msg">
        <ngb-alert [type]="alert.type" class="scaleIn shadow" (close)="alerts.close(alert)">{{alert.message}}</ngb-alert>
    </ng-container>
</div>
