#admin-dashboard {
  $red: #F15854;
  $gray: #4D4D4D;
  $blue: #5DA5DA;
  $yellow: #DECF3F;
  $purple: #B276B2;
  $orange: #FAA43A;

  .box {
    position: relative;
    min-height: 100%;
    min-width: 100%;
    border: 2px solid #d9dadb;
    padding: 30px;

    .display-4 {
      font-size: 32pt;
    }
  }

  .chart {
    background:
            conic-gradient($red 4%,
                    $gray 0 8%,
                    $blue 0 17%,
                    $yellow 0 48%,
                    $purple 0 54%,
                    $orange 0
            );
    border-radius: 50%;
    min-width: 50%;
    height: auto;
    padding-top: 50%;
    float: left;
    padding-right: 20px;
  }

  .key {
    width: 50%;
    float: right;
    list-style: none;
    display: table;
    border-collapse: separate;
    > li {
      display: table-row;
      > * {
        display: table-cell;
        border-bottom: 12px solid white;
      }
    }
  }

  .percent {
    color: white;
    padding: 10px 2px;
    text-shadow: 0 0 1px black;
    text-align: center;
  }
  .choice {
    padding-left: 10px;
  }

  .red {
    background: $red;
  }
  .gray {
    background: $gray;
  }
  .blue {
    background: $blue;
  }
  .yellow {
    background: $yellow;
  }
  .purple {
    background: $purple;
  }
  .orange {
    background: $orange;
  }
}
