<section id="admin-dashboard" class="fadeIn">
    <app-breadcrumb></app-breadcrumb>
    <app-simple-heading [languageString]="lang.get('PAGE_ACP_DASHBOARD_TITLE')"></app-simple-heading>

    <div class="container-fluid pt-2">
        <div class="row">
            <div class="col-sm-6 col-xl-3 p-1">
                <app-dash-box [text]="lang.get('PAGE_ACP_DASHBOARD_BOX_OPEN_TICKETS', openTickets)"
                              [languageString]="lang.get('PAGE_ACP_DASHBOARD_OPEN_TICKETS')"
                              [routePath]="'/acp/ticket-system/'"
                              [boxClass]="openTickets > 0 ? 'bg-danger' : 'bg-success'"></app-dash-box>
            </div>
            <div class="col-sm-6 col-xl-3 p-1">
                <app-dash-box [text]="lang.get('PAGE_ACP_DASHBOARD_BOX_REGISTERED_USER', userAmount)"
                              [languageString]="lang.get('PAGE_ACP_DASHBOARD_REGISTERED_USER')"
                              [routePath]="'/acp/user/profiles/'" [boxClass]="'bg-dark'"></app-dash-box>
            </div>
            <div class="col-sm-6 col-xl-3 p-1">
                <app-dash-box [text]="lang.get('PAGE_ACP_DASHBOARD_BOX_GROUPS', groupsAmount)"
                              [languageString]="lang.get('PAGE_ACP_DASHBOARD_GROUPS')"
                              [routePath]="'/acp/user/groups/'" [boxClass]="'bg-dark'"></app-dash-box>
            </div>
            <div class="col-sm-6 col-xl-3 p-1">
                <app-dash-box
                        [text]="!appOffline?.value ? lang.get('PAGE_ACP_DASHBOARD_APP_STATUS_ON') :
                                                    lang.get('PAGE_ACP_DASHBOARD_APP_STATUS_OFF')"
                        [languageString]="lang.get('PAGE_ACP_DASHBOARD_APP_STATUS')"
                        [routePath]="'/acp/system/'"
                        [boxClass]="appOffline?.value ? 'bg-danger' : 'bg-success'"></app-dash-box>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-7 mt-2">
            <div class="box">
                <h1 class="display-4">Willkommen im Admin Control Panel</h1>
                <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                </p>
            </div>
        </div>
        <div class="col-12 col-lg-5 mt-2">
            <div class="box">
                <div class="chart"></div>
                <ul class="key">
                    <li>
                        <strong class="percent red">4%</strong>
                        <span class="choice">Analytics</span>
                    </li>
                    <li>
                        <strong class="percent gray">4%</strong>
                        <span class="choice">Analytics</span>
                    </li>
                    <li>
                        <strong class="percent purple">6%</strong>
                        <span class="choice">Analytics</span>
                    </li>
                    <li>
                        <strong class="percent blue">9%</strong>
                        <span class="choice">Analytics</span>
                    </li>
                    <li>
                        <strong class="percent yellow">31%</strong>
                        <span class="choice">Analytics</span>
                    </li>
                    <li>
                        <strong class="percent orange">46%</strong>
                        <span class="choice">Analytics</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
