<section class="simple-heading">
    <div class="row align-items-end">
        <div class="col-sm-12 col-md-12 col-lg-5 col-xl-6">
            <h1 class="display-4">{{languageString}}</h1>
        </div>
    </div>
</section>
