<section class="form-toolbar">
    <div class="row align-items-end">
        <div class="col-sm-12 col-md-12 col-lg-5 col-xl-6">
            <h1 class="display-4">{{languageString}}</h1>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-7 col-xl-6 text-lg-right">
            <div class="btn-group mb-1 mr-2">
                <button class="btn btn-success" (click)="saveAndCloseForm()">
                    {{lang.get('MODULE_FORM_TOOLBAR_SAVE_AND_CLOSE')}}
                </button>
            </div>
            <div class="btn-group mb-1 mr-2">
                <button class="btn btn-success" (click)="saveForm()">
                    {{lang.get('MODULE_FORM_TOOLBAR_SAVE')}}
                </button>
            </div>
            <div class="btn-group mb-1">
                <button class="btn btn-danger" (click)="cancelForm()">
                    {{lang.get('MODULE_FORM_TOOLBAR_CANCEL')}}
                </button>
            </div>
        </div>
    </div>
</section>
