<div *ngIf="buttonStyle.type === LangSwitchStyle.dropdown" ngbDropdown role="group" aria-label="Button group with nested dropdown">
    <button class="btn {{buttonStyle.classes ? buttonStyle.classes : ''}}"
            ngbDropdownToggle>{{lang.get('PAGE_HOME_SWITCH_LANG')}}</button>
    <div class="dropdown-menu" ngbDropdownMenu>
            <button *ngFor="let item of languages" ngbDropdownItem
                    (click)="lang.changeLanguage(item.lang)">{{lang.get(item.key)}}</button>
    </div>
</div>

<div *ngIf="buttonStyle.type === LangSwitchStyle.modal">
        <button class="btn {{buttonStyle.classes ? buttonStyle.classes : ''}}" (click)="open(langBox)"><img class="lang-icon" [src]="icons.get('earth.svg')" alt="logout"></button>
</div>

<ng-template #langBox let-modal>
    <div class="modal-header">
        <h4 class="modal-title display-3">{{lang.get('PAGE_HOME_LANG_SELECT_A_LANGUAGE')}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <select (change)="lang.changeLanguage($event.target.value)" class="form-control" [value]="lang.lang">
            <option *ngFor="let item of languages" [value]="item.lang">{{lang.get(item.key)}}</option>
        </select>
    </div>
</ng-template>
