<div class="button-box" *ngIf="buttonStyle.type === LoginBoxStyle.modalText">
    <span class="{{buttonStyle.classes ? buttonStyle.classes : ''}} pointer" *ngIf="!currUser"
          (click)="open(loginBox)">{{lang.get('PAGE_LOGIN_TITLE')}}</span>
    <span class="{{buttonStyle.classes ? buttonStyle.classes : ''}} pointer" *ngIf="currUser"
          (click)="logout()">{{lang.get('PAGE_LOGIN_BUTTON_LOGOUT')}}</span>
</div>

<ng-container *ngIf="buttonStyle.type === LoginBoxStyle.logoutIcon && currUser">
    <button class="ml-3 btn {{buttonStyle.classes ? buttonStyle.classes : ''}}" (click)="redirectProfile()">
        <img class="profile-icon" [src]="icons.get('user.svg')" alt="user"/>{{currUser.displayName}}
    </button>
    <button class="ml-3 btn {{buttonStyle.classes ? buttonStyle.classes : ''}}" (click)="logout()">
        <img class="logout-icon" [src]="icons.get('logout.svg')" alt="logout"/>
    </button>
</ng-container>

<ng-container *ngIf="buttonStyle.type === LoginBoxStyle.loginIcon">
    <button *ngIf="!currUser" class="mr-3 btn {{buttonStyle.classes ? buttonStyle.classes : ''}}"
            (click)="open(loginBox)">
        <img class="login-icon" [src]="icons.get('user.svg')" alt="login"/>
    </button>
    <button *ngIf="currUser" class="mr-3 btn {{buttonStyle.classes ? buttonStyle.classes : ''}}" (click)="logout()">
        <img class="logout-icon" [src]="icons.get('logout.svg')" alt="logout"/>
    </button>
</ng-container>

<ng-template #loginBox let-modal>
    <div class="modal-header">
        <h4 class="modal-title display-4 text-center">
            {{lang.get('PAGE_LOGIN_TITLE')}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="p-3">
            <div class="login-alert-box">
                <app-alert-box [simple]="true"></app-alert-box>
            </div>
            <form class="login-form mt-2 mb-4">
                <div class="form-group">
                    <label for="login-email">{{lang.get('PAGE_LOGIN_LABEL_EMAIL')}}</label>
                    <input name="login-email" type="email" class="form-control" id="login-email"
                           [(ngModel)]="user.email" (keyup.enter)="loginWithEmailAndPassword()"
                           placeholder="{{lang.get('PAGE_LOGIN_PLACEHOLDER_EMAIL')}}"/>
                    <small class="form-text text-muted">{{lang.get('PAGE_LOGIN_HINT_EMAIL')}}</small>
                </div>
                <div class="form-group">
                    <label for="login-password">{{lang.get('PAGE_LOGIN_LABEL_PASSWORD')}}</label>
                    <input name="login-password" type="password" class="form-control" id="login-password"
                           [(ngModel)]="user.password" (keyup.enter)="loginWithEmailAndPassword()"
                           placeholder="{{lang.get('PAGE_LOGIN_PLACEHOLDER_PASSWORD')}}"/>
                </div>
            </form>

            <button type="button" class="btn btn-green btn-login-with-email-and-password w-100 mt-2"
                    (click)="loginWithEmailAndPassword()">{{lang.get('PAGE_LOGIN_BUTTON_SUBMIT')}}</button>

            <div class="dropdown-divider mt-3 mb-3"></div>

            <div class="btn-group d-block text-center">
                <button type="button" class="btn btn-outline-dark text-dark btn-login-with-google"
                        (click)="loginWithGoogle()">
                    <img [src]="icons.get('google.svg')" alt="google" class="mr-2" height="24px"/>
                    {{lang.get('PAGE_LOGIN_BUTTON_GOOGLE')}}
                </button>
            </div>
        </div>
    </div>
</ng-template>
