.logout-icon {
  filter: invert(1);
  width: 24px;
}

.login-icon-btn {
  min-height: 40.6px;
}

.login-icon {
  filter: invert(1);
  width: 24px;
}

.profile-icon {
  filter: invert(1);
  width: 20px;
  padding: 0 0 2px 0;
  margin-right: 10px;
}

.btn-dark:hover {
  background: #464c52 !important;
}

.btn-transparent {
  background: transparent;

  &:focus, &:active {
    background: transparent !important;
  }
}

.btn-outline-dark {
  &:hover {
    background: #f7f7f7 !important;
  }
}

.btn-green {
  background: rgba(0, 66, 34, .8);
  color: #fff;
}
