<section id="adminCP" class="fadeIn">
    <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
        <div id="burger-icon" (click)="toggleSideBar()">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <a class="navbar-brand ml-3" [routerLink]="['/acp']">{{lang.get('PAGE_ACP_HOME_TITLE')}}</a>
        <div class="collapse navbar-collapse hide-sm" id="backMenu">
            <div class="btn-group ml-auto mt-2 mb-2 text-white">
                <app-login-box class="mr-2 ml-2" [redirectHome]="true"
                               [buttonStyle]="{type: LoginBoxStyle.logoutIcon, classes: 'btn-dark border'}"
                               [modalAnim]="'scaleIn'"></app-login-box>
                <app-lang-switch class="mr-2 ml-2"
                                 [buttonStyle]="{type: LangSwitchStyle.modal, classes: 'btn-dark border'}"></app-lang-switch>
            </div>
        </div>
    </nav>
    <div class="side-navbar text-white bg-dark toggled-sideBar">
        <ul class="side-navbar-nav">
            <ng-container *ngFor="let item of menuItems; let i = index">
                <li class="nav-item row" [attr.data-target]="'item-' + i"
                    *ngIf="(!item.subMenu || item.subMenu.length === 0) && check(item.permissionStrings)"
                    [routerLink]="[item.path]" (click)="redirectTo(item.href)">
                    <div class="col-2 justify-content-center">
                        <img class="icon" [src]="icons.get(item.icon)" [alt]="item.icon"/>
                    </div>
                    <div class="col-auto">
                        <a class="nav-link">{{lang.get(item.menu)}}</a>
                    </div>
                </li>
                <ng-container *ngIf="(item.subMenu && item.subMenu.length > 0) && check(item.permissionStrings)">
                    <li class="nav-item row" [attr.data-target]="'#dropdown-' + i" (click)="toggleDropDown($event)">
                        <div class="col-2 justify-content-center">
                            <img class="icon" [src]="icons.get(item.icon)" [alt]="item.icon"/>
                        </div>
                        <div class="col-auto">
                            <a class="nav-link">{{lang.get(item.menu)}}</a>
                        </div>
                    </li>
                    <li class="dropdown" id="dropdown-{{i}}">
                        <ul class="side-navbar-nav">
                            <ng-container *ngFor="let subItem of item.subMenu; let s = index">
                                <li class="nav-item row" *ngIf="check(subItem.permissionStrings)"
                                    [attr.data-target]="'item-'+ i + '-sub-' + s"
                                    [routerLink]="[item.path+'/'+subItem.path]" (click)="redirectTo(subItem.href)">
                                    <div class="col-2 justify-content-center">
                                        <img class="icon" [src]="icons.get(subItem.icon)" [alt]="subItem.icon"/>
                                    </div>
                                    <div class="col-auto">
                                        <a class="nav-link">{{lang.get(subItem.menu)}}</a>
                                    </div>
                                </li>
                            </ng-container>
                        </ul>
                    </li>
                </ng-container>
            </ng-container>
            <li class="nav-item row" (click)="sideLogout()">
                <div class="col-2 justify-content-center">
                    <img class="icon" [src]="icons.get('logout.svg')" alt="logout"/>
                </div>
                <div class="col-auto">
                    <a class="nav-link">
                        {{lang.get('PAGE_LOGIN_BUTTON_LOGOUT')}}
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <div class="container-fluid mt-2">
        <div class="content-wrapper toggled-wrapper">
            <app-alert-box [simple]="true" [style]="'modal'"></app-alert-box>
            <router-outlet></router-outlet>
        </div>
    </div>
</section>
