@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$li-border-color: $gray-600;

.navbar {
  min-height: 70px;
  z-index: 1049;

  .navbar-brand {
    padding: 0 0 0 18px;
  }
}

.side-navbar {
  height: 100%;
  width: 70px;
  position: fixed;
  left: 0;
  top: 0;
  padding: 70px 0 0 0;
  overflow-x: hidden;

  z-index: 1048;

  -webkit-transition: width .5s ease-in-out;
  -moz-transition: width .5s ease-in-out;
  transition: width .5s ease-in-out;

  .side-navbar-nav {
    list-style-type: none;
    padding-inline-start: 0;

    .active {
      background: #60666c !important;
    }

    .nav-item {
      padding: 15px 15px 15px 20px;
      border-bottom: $li-border-color 1px solid;
      cursor: pointer;

      -webkit-transition: background-color .4s;
      -moz-transition: background-color .4s;
      transition: background-color .4s;

      .icon {
        filter: invert(1);
        width: 24px;
        height: 24px;
      }

      .nav-link {
        padding: 2px 0 0 10px;
        display: inline-block;
      }

      &:hover {
        background: #464c52;

        -webkit-transition: background-color .4s;
        -moz-transition: background-color .4s;
        transition: background-color .4s;
      }

      &:focus {
        outline: 0;
      }
    }

    .dropdown {
      max-height: 0;
      overflow: hidden;

      -webkit-transition: max-height .5s;
      -moz-transition: max-height .5s;
      transition: max-height .5s;

      .active {
        background: #60666c !important;
      }

      .nav-item {
        background: #464c52;
        padding: 15px 28px;

        &:hover {
          background: #60666c;
        }
      }

      .icon {
        filter: invert(1);
        width: 18px;
        height: 18px;
      }
    }

    .toggled-down {
      max-height: 500px;

      -webkit-transition: max-height 5s;
      -moz-transition: max-height 1s;
      transition: max-height 1s;
    }
  }
}

.content-wrapper {
  margin-left: 70px;
  margin-top: 70px;
  -webkit-transition: margin-left .5s ease-in-out;
  -moz-transition: margin-left .5s ease-in-out;
  transition: margin-left .5s ease-in-out;
}

.toggled-wrapper {
  @include media-breakpoint-down(sm) {
    margin-left: 70px;
  }

  margin-left: 300px;
}

.toggled-sideBar {
  @include media-breakpoint-down(sm) {
    width: 300px;
  }

  width: 300px;
}
