@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "anims";

html {
  position: relative;
}

/** ModalWindow-fix **/
body {
  padding-right: 0 !important;
}

/** ModalWindow-fix **/
.modal-open {
  overflow: auto;
  padding-right: 0 !important;
}

.hidden {
  display: none;
}

@include media-breakpoint-down(sm) {
  .hide-sm {
    display: none;
  }
}

.w-10 {
  width: 10%;
}

/** checkboxes **/

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  & + label {
    display: flex;
    align-items: center;
    &::before {
      content: "";
      min-width: 20px;
      height: 20px;
      margin-right: 10px;
      background: #ecf0f1;
      border: 1px solid darken(#ecf0f1, 25%);
      cursor: pointer;
      transition: 0.3s ease;
    }
    .tick {
      position: absolute;
      stroke: white;
      stroke-width: 3px;
      stroke-dasharray: 19px;
      stroke-dashoffset: 19px;
      transition: 0.2s 0.1s ease;
      cursor: pointer;
    }
  }
  &:checked {
    & + label {
      &::before {
        background: #3498db;
        box-shadow: 0 0 0 8px rgba(#3498db, 0);
        animation: pulse 1s;
      }
      .tick {
        stroke-dashoffset: 0;
      }
    }
  }
  &:focus {
    & + label {
      &::before {
        border-color: #3498db;
      }
    }
  }
  &:disabled {
    & + label {
      &::before {
        background: darken(#ecf0f1, 25%);
      }
    }
  }
}

@keyframes pulse {
  from {
    box-shadow: 0 0 0 0 #3498db;
  }
}

/*
      author: Jonathan Griffin, customized by sebb
      title: Checkbox Button Toggle,
      url: https://codepen.io/thewebmaster/pen/PooXNLe
   */
$toggle-enabled-bg: $green;
$toggle-enabled-color: $white;
$toggle-enabled-tab-bg: $white;

$toggle-disabled-bg: $red;
$toggle-disabled-color: $white;
$toggle-disabled-tab-bg: $white;

.tgl {
  position: relative;
  outline: 0;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  margin: 0 0 5px 0;

  &, &:after, &:before,
  & *, & *:after, & *:before,
  & + .tgl-btn {
    box-sizing: border-box;

    &::selection {
      background: none;
    }
  }

  span {
    position: relative;
    display: block;
    height: 1.8em;
    line-height: 1.2em;
    overflow: hidden;
    font-weight: normal;
    text-align: center;
    padding: 0.2em 1em;
    border: 1px solid darken($toggle-enabled-tab-bg, 2);
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, .2),
    0 2px 0 rgba(255, 255, 255, 0.7);

    transition: color 0.3s ease,
    padding 0.3s ease-in-out,
    background 0.3s ease-in-out;

    &:before {
      position: relative;
      display: block;
      line-height: 1.3em;
      margin-left: -50%;
      padding: 0 0.2em;
      font-size: 1em;
    }

    &:after {
      position: absolute;
      display: block;
      content: '';
      width: 49%;
      height: 1.3em;
      margin-left: -50%;
      top: 0.2em;
      background: $toggle-enabled-tab-bg;
      transition: left 0.3s cubic-bezier(0.175, 0.885, 0.320, 0.97),
      background 0.3s ease-in-out;
    }
  }

  input[type="checkbox"] {
    display: none !important;

    &:not(:checked) {
      + span {
        background: $toggle-disabled-bg;
        color: $toggle-disabled-color;
        padding-left: 1.6em;
        padding-right: 0.4em;

        &:before {
          content: attr(data-off);
          left: 51%;
          color: $toggle-disabled-color;
        }

        &:after {
          background: $toggle-disabled-tab-bg;
          left: 51%;
        }
      }
    }

    &:checked {
      + span {
        background: $toggle-enabled-bg;
        color: $toggle-enabled-color;
        padding-left: 0.4em;
        padding-right: 1.6em;

        &:before {
          content: attr(data-on);
        }

        &:after {
          background: $toggle-enabled-tab-bg;
          left: 100%;
        }
      }
    }

    &:disabled, &:disabled + span, &:read-only, &:read-only + span {
      cursor: not-allowed;
    }
  }
}

.tgl-gray {
  input[type="checkbox"] {
    &:not(:checked) {
      + span {
        background: lighten(desaturate($toggle-enabled-bg, 100%), 20%);
        color: darken(desaturate($toggle-disabled-color, 100%), 40%);

        &:before {
          color: darken(desaturate($toggle-disabled-color, 100%), 40%);
        }

        &:after {
          background: desaturate($toggle-disabled-tab-bg, 100%);
        }
      }
    }
  }
}

.tgl-inline {
  display: inline-block !important;
  vertical-align: top;

  &.tgl {
    font-size: 16px;

    span {
      min-width: 50px;

      &:before {
        line-height: 1.4em;
        padding-left: 0.4em;
        padding-right: 0.4em;
      }
    }
  }

}

.tgl-inline-label {
  display: inline-block !important;
  vertical-align: top;
  line-height: 26px;
}
// end: Checkbox Button Toggle

.pointer {
  cursor: pointer;
}


#burger-icon {
  width: 30px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;

  span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: $white;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

  span:nth-child(1) {
    top: -3px;
    left: 8px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  span:nth-child(2) {
    top: 9px;
    width: 0;
    opacity: 0;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 18px;
    left: 8px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
}

#burger-icon.open {
  span:nth-child(1) {
    top: 0;
    left: 0;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }

  span:nth-child(2) {
    width: 100%;
    opacity: 1;
  }

  span:nth-child(3) {
    top: 18px;
    left: 0;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
}

/** modal box **/

.modal-content {
  background-color: rgba(0, 66, 34, 0.7);

  .close {
    color: #fff;
    text-shadow: 0 0 1px #000;
  }

  .modal-body {
    background-color: white;
  }

  .display-4 {
    color: #fff;
    font-size: 30pt;
  }

  .display-3 {
    color: #fff;
    font-size: 20pt;
  }
}
